body{
 background:#f7dfe4;
 color:#FFFFFF;
 width:100%; 
 font-family:Adelaide  
 margin:0 auto;
}

.header{
 width:90%;  
 margin:auto;
 height:120px; 
 line-height:120px; 
 background:#fa787a; 
 color:#FFFFFF;
}

